Vamos entender como o phishing de ID de usuário funciona, você verifica em um site WordPress os 5 primeiros IDs de usuário. Ao fazer isso, o WordPress exibirá 
o Post Archive para qualquer autor correspondente. Em muitos sites WordPress, você pode ver isso da seguinte forma.

https://example.com/?author=5

Let's understand how user ID phishing works, you check a WordPress site for the first 5 user IDs. When you do this, WordPress will display
the Post Archive for any corresponding author. On many WordPress sites, you can see this as follows.

https://example.com/?author=5

Coloque sua URL no lugar "example.com"
Put your URL in "example.com"

# BLOQUEAR SOLICITAÇÕES DE PHISHING DE ID DO USUÁRIO #
# BLOCK USER ID PHISHING REQUESTS #
<IfModule mod_rewrite.c>
	RewriteCond %{QUERY_STRING} ^author=([0-9]*)
	RewriteRule .* https://example.com/? [L,R=302]
</IfModule>
